@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;1,300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
}
/*Header*/
header{
  position: fixed;
  top:  0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #059652;
  box-shadow: 0 4px 25px -22px black;
  z-index: 2;
}

ul li a{
  color: #FEFEFE;
  font-weight: bold;
}

.header-content{
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.logo_img{
  height: 60px;
}

.logo li a{
  display: block;
  font-weight: normal;
}

.logo_a b{
  display: block;
  font-size: large;
}

.menu{
  height: 80px;
}

.menu nav{
  height: 100%;
}

.logo ul, .menu nav ul{
  height: 100%;
  display: flex;
  list-style: none;
}

.logo ul li{
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu nav ul li{
  height: 100%;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.menu .lista_item ul{
  display: none;
}

.menu-selected:before{
  content: '';
  width: 100%;
  height: 5px;
  background: #F4FA58;
  position: absolute;
  top: 0;
  left: 0;
}

.logo .logo_a:hover{
  color: #FEFEFE;
}

.menu nav ul li a{
  color: #fff;
  font-size: 17px;
}

.menu nav ul li a:hover{
  color: #F4FA58;
  transition: color 300ms;
}
/*Portada*/
.container-cover{
  width: 100%;
  height: 480px;
  position: relative;
  top: 60px;
  background-image:url(../img/img_1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container-info-cover{
  width: 600px;
  height: 50px;
  bottom: 10px;
  left: -10px;
  border-radius: 10px;
  background: #0A5B33;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
}
.container-info-cover h1{
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  font-weight: bold;
  color: #FFFFFF;
  margin: 0 auto;
}
